{
  "num_workers": 1,
  "gdrive-shared-dir": [
    {
        "id": "15TprhkIdz3-RFgOAVzHIJK4SyM1miyN2",
        "dest_dir": "dnd-minis"
    },
    {
        "id": "1C5pzRx9OymQnueRM7HCkNIXmGkBZnu93",
        "dest_dir": "dnd-minis-commercial"
    }
  ]
}
